@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,700;1,400;1,700&display=swap')
layer(base);
@import "tailwindcss";

@theme {
  /* Text colors */
  --color-text: #1d1d1d;
  --color-text-muted: #60646c;
  --color-text-accent: #359aba;
  --color-text-accent-muted: #205c70;

  --color-bt: #e8e8ec;
  --color-bt-hover: #f0f0f3;
  --color-bt-accent: #e6f4fe;
  --color-bt-accent-hover: #d5efff;

  --color-border: #d9d9e0;
  --color-border-accent: #359aba;
  --color-icon: #a5a5a5;
  --color-icon-accent: #359aba;
  --color-code-bg: #f2f2f2;
  --color-code-border: #eaeaea;
  --color-scrollbar-thumb: #d4d4d4;
  --color-scrollbar-track: #f6f6f6;
}

/* Dark theme variables override when .dark class is added to html or body */
.dark {
  --color-text: #f0f0f0;
  --color-text-muted: #a0a0a0;
  --color-text-accent: #4dc0e0;
  --color-text-accent-muted: #8edcf5;
  --color-bg: #121212;
  --color-sf: #1e1e1e;
  --color-sf-elevated: #2d2d2d;
  --color-border: #333333;
  --color-border-accent: #4dc0e0;
  --color-icon: #808080;
  --color-icon-accent: #4dc0e0;
  --color-code-bg: #1e1e1e;
  --color-code-border: #333333;
  --color-scrollbar-thumb: #444444;
  --color-scrollbar-track: #222222;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
}

::-webkit-scrollbar-track {
  background-color: var(--color-scrollbar-track);
}
